body{
	font-family: Verdana;
    font-size: 15px;
	color: white;
	font: strong;
	text-align: center;
	background-color: black;
}

input{
    border: 1px solid #aaa;
    width: 200px;
    padding: 4px;
	margin-bottom: 15px;
}

input[type = submit]{
	margin-right: 210px;
}

#contenedor{
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}

.namePersonajes
{
	margin-top: 10px;
}
.info
{	
	margin-top: 400px;
	background-position: center;
	width: 200px;
	height: 100px;
	margin-left: 410px;
	cursor: pointer;
	border: darkred 2px solid;
	text-align: left;
}
.personaje a:hover
{
	background-color: blue;
}
.titulo{
	font-size: 46px;
	position:absolute;
	margin-left: 350px;
	float:left;
	color: blue;
}

.personaje{
	margin-top: 80px;
	background-position: center;
	width: 189px;
	height: 267px;
	float: left;
	margin-left: 100px;
	cursor: pointer;
	border: black 2px solid;
}
#botonElegir
{
	margin-top: 50px;
	margin-left:200px;
}




