*{
	background-color: white;
}
#all{
	height:750px;
	width:1200px;
	position:absolute;
}
#contenedor {
    width: 800px;
    height: 600px;
    border: 3px solid #000;
    position: absolute;
	left: 320px;
	top:100px;
}
#final {
	width: 800px;
    height: 600px;
    border: 3px solid #000;
    position: absolute;
	left: 320px;
	top:100px;
	font-size:40px;

}
#heroe {
    width: 50px;
    height: 50px;
	background-image:url('imagenes/heroe.jpg');
    position: absolute;
    z-index: 1;
    border: 1px solid #000;
}
#key {
    width: 50px;
    height: 50px;
    background-image: url('imagenes/key.jpg');
    border: 1px solid #fff;
    position: absolute;
	left: 104px;
    top: 104px;
}
#villano {
    width: none;
    height: none;
    background-image: url('imagenes/orcoE.jpg');
    border: 1px solid #FFF;
    position: absolute;
    left: 300px;
    top: 100px;
}
#villano2 {
    width: none;
    height: none;
    background-image: url('imagenes/goblinE.jpg');
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 100px;
}
#villano3 {
    width: none;
    height: none;
    background-image: url('imagenes/goblinE.jpg');
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 100px;
}
#villano4 {
    width: none;
    height: none;
    background-image: url('imagenes/orcoE.jpg');
    border: 1px solid #000;
    position: absolute;
    left: 300px;
    top: 300px;
}
#door {
	width:0px;
	height:0px;
	background-image:url('imagenes/puerta.jpg');
	border: 3px solid black;
	margin-left: 748px;
    margin-top: none;
	position:absolute;
}
#ataque_dado{
	width:350px;
	height:200px;
	border: 3px solid black;
	margin-top:200px;
	margin-left:390px;
}
#tabla{
	width:200px;
	height:150px;
	border: 3px solid black;
	margin:100px;
}
img {
	height: 0px;
	width:0px;
	margin-top:none;
	margin-left:none;
	position:absolute;
	border: 3px solid black;
}

